[submodule "modules/columnflow"]
    path = modules/columnflow
    url = ../../columnflow/columnflow.git
    branch = master
[submodule "modules/cmsdb"]
    path = modules/cmsdb
    url = ../cmsdb.git
    branch = master
