# law config file for running tasks without a grid certificate

[core]

# inherit from the analysis configuration file
inherit: $TOPSF_BASE/law.cfg



[analysis]

# whether or not the ensure_proxy decorator should be skipped, even if used by task's run methods
skip_ensure_proxy: True


[outputs]

# list of file systems used by columnflow.tasks.external.GetDatasetLFNs.iter_nano_files to
# look for the correct fs per nano input file (in that order)
lfn_sources: local_desy_dcache

# output locations per task family
# for local targets : "local[, LOCAL_FS_NAME or STORE_PATH]"
# for remote targets: "wlcg[, WLCG_FS_NAME]"
task_cf.BundleRepo: local
task_cf.BundleSoftware: local
task_cf.BundleBashSandbox: local
task_cf.BundleCMSSWSandbox: local
task_cf.BundleExternalFiles: local
# GetDatasetLFNs requires a Grid certificate -> use a common space to store the output
task_cf.GetDatasetLFNs: local, /data/dust/user/dsavoiu/store/mttbar/data
task_cf.CalibrateEvents: local
task_cf.SelectEvents: local
task_cf.CreateCutflowHistograms: local
task_cf.PlotCutflow: local
task_cf.PlotCutflowVariables: local
task_cf.ReduceEvents: local
task_cf.MergeReducedEvents: local
task_cf.ProduceColumns: local
task_cf.PrepareMLEvents: local
task_cf.MergeMLEvents: local
task_cf.MLTraining: local
task_cf.MLEvaluation: local
task_cf.CreateHistograms: local
task_cf.MergeHistograms: local
task_cf.MergeShiftedHistograms: local
task_cf.PlotVariables: local
task_cf.PlotShiftedVariables: local
task_cf.CreateDatacards: local
